<h2>Acessar Lista de Horários</h2>

<div class="access-form">
  <label for="listId">ID da Lista:</label>
  <input type="text" [(ngModel)]="listId" placeholder="ID da Lista" required />

  <label for="password">Senha da Lista:</label>
  <input type="password" [(ngModel)]="listPassword" maxlength="20" placeholder="Senha da Lista" required />

  <!-- Exibe uma mensagem de erro se a senha ou ID da lista for inválida -->
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <!-- Botão para acessar a lista -->
  <button class="access-btn" (click)="accessList()">Acessar Lista</button>
</div>

<!-- Exibe informações da lista após o acesso -->
<div *ngIf="list" class="list-container">
  <h3>Nome da Lista: {{ list.name }}</h3>

  <div class="time-info-container">
    <!-- Coluna de horários disponíveis -->
    <div class="time-column">
      <h4>Horários Disponíveis:</h4>
      <ul class="time-list">
        <li *ngFor="let day of list.daysAndTimes | keyvalue">
          <strong>{{ day.key }}:</strong>
          <ul>
            <li *ngFor="let time of day.value" class="time-item" [ngClass]="{'full': time.remaining === 0}">
              <span>{{ time.time }}</span> - 
              <span *ngIf="time.remaining > 0">Disponível ({{ time.remaining }} restantes)</span>
              <span *ngIf="time.remaining === 0">Esgotado</span>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <!-- Coluna de horários reservados -->
    <div class="time-column">
      <h4>Horários Reservados:</h4>
      <ul class="reservation-list">
        <li *ngFor="let day of list.daysAndTimes | keyvalue">
          <strong>{{ day.key }}:</strong>
          <ul class="reservation-list-itens">
            <li *ngFor="let time of day.value">
              <ul *ngIf="time.reservedBy.length > 0">
                <li *ngFor="let person of time.reservedBy">
                  {{ time }} Reservado por: {{ person.userName }} ({{ person.cpf }})
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <!-- Botão para encerrar a lista -->
  <button class="end-btn" (click)="endList()">Encerrar Lista</button>
</div>