.access-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 20px auto;
  gap: 10px;
}

.access-form input {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.access-btn {
  background-color: #FF4D4D;
  color: white;
  border: 1px solid #FF4D4D;
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
} 

.access-btn:hover {
  background-color: #FFF;
  color: #FF4D4D;
}

.error-message {
  color: red;
  font-weight: bold;
  margin-top: 10px;
}

.list-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.time-info-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.time-column {
  width: 48%;
}

.time-list, .reservation-list {
  list-style: none;
  padding-left: 0;
}

.time-list li, .reservation-list li {
  margin-bottom: 10px;
}

.time-item {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.time-item.full {
  background-color: #ffdddd;
  border-color: #ff6b6b;
}

.end-btn {
  background-color: #f44336;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.end-btn:hover {
  background-color: #e53935;
}

.reservation-list-itens li {
  height: 42px;
  display:flex;
  align-items: center;
}

@media (max-width: 769px) {
  .time-info-container {
    flex-direction: column;
    align-items: center;
  }

  .time-column {
    width: 100%;
    margin-bottom: 20px;
  }

  .access-form input {
    width: 100%;
  }

  .access-btn, .end-btn {
    width: 100%;
  }

  .time-item {
    font-size: 14px;
  }

  h3, h4 {
    font-size: 18px;
  }
}