<div class="home">
  <a href="/create-list">Criar lista</a>
  <a href="/search-list">Procurar lista</a>
  <a href="/access-list">Gerenciar lista</a>
</div>

<style>
  .home {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:16px;
    margin-top: 16px;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
  }

  .home a {
    padding:5px 10px;
    background-color: #FF4D4D;
    color: #FFF;
    font-weight: bold;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    text-decoration: none;
    color: inherit;
    width: 150px;
    border-radius: 12px;
  }
</style>